.absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.css-triangle-button {
    &__corner {
        border-top: 32px solid transparent;
        border-right-width: 32px;
        border-right-style: solid;
    }
    &__icon {
        position: absolute;
        right: 4px;
        bottom: 4px;
        fill: currentColor;
    }
}

.vertically-centered {
    top: 50%;
    transform: translateY(-50%);
}

/*** SplideJS ***/
.splide__pagination {
    bottom: -3rem;
}
.splide__pagination__page {
    margin: 4px;
    background: theme("colors.gray.500");
}

.splide__pagination__page.is-active {
    background: theme("colors.white")
}

button.splide__arrow {
    background-color: theme("colors.white");
    width: 1.5rem;
    height: 1.5rem;
}

button.splide__arrow svg {
    width: 1rem;
    height: 1rem;
}

.splide__arrow--prev {
    left: -1rem;
}

.splide__arrow--next {
    right: -1rem;
}